@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-light">Welcome to Chaos Control Center</h1>
    <p class="lead text-light">Manage projects, tasks, and users efficiently and transparently. With our platform, you can easily track progress, assign tasks, and effectively organize your team.</p>
    <p class="text-light">Start using the system and achieve success in every project!</p>
    <a href="@Url.Action("AboutUs", "Home")" class="btn btn-outline-primary btn-lg mt-4 custom-button">Learn More</a>
</div>

<style>
    .custom-button {
        border: 2px solid #00bcd4; /* Border color */
        color: #00bcd4; /* Text color */
        background-color: transparent; /* Transparent background */
        transition: all 0.3s ease; /* Smooth animation */
    }

        .custom-button:hover {
            background-color: #00bcd4; /* Background color on hover */
            color: #fff; /* Text color on hover */
            border-color: #00bcd4; /* Border color on hover */
        }
</style>
